h2, h3, input, button, select, option, b, span {
  font-family: 'Roboto';
}

.wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

.form {
  border: 2px solid #797676;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  border: none;
  border-bottom: 2px solid black;
  font-size: 22px;
}

.agreement {
  margin: 30px 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
}

.agreement_switch {
  position: relative;
  display: flex;
  align-items: center;
  width: 60px;
  height: 34px;
}

.agreement_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.agreement_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.agreement_slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.agreement_checkbox:checked + .agreement_slider {
  background-color: #2196F3;
}

.agreement_checkbox:focus + .agreement_slider {
  box-shadow: 0 0 1px #2196F3;
}

.agreement_checkbox:checked + .agreement_slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.agreement_text {
  font-family: 'Roboto';
  font-size: 22px;
}

.submit {
  width: 100px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
}

.agreement {
  margin-bottom: 0;
}

.error {
  color: red;
}

.form_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.form_avatar, .form_name, .form_surname, .form_birth, .form_country {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_avatar_text, .form_name_text, .form_surname_text, .form_birth_text, .form_country_text, .form_avatar_bold {
  word-wrap: break-word;
  font-size: 20px;
  padding-bottom: 20px;
}

.form_avatar, .form_name, .form_surname, .form_birth {
  width: 100% ;
  border-bottom: 2px solid black;
}